* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: 'Arial', sans-serif;
    background-color: #333333;
    color: #fff;
    line-height: 1.6;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: grey;
}

/*Header Page*/
header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 90px;
    background: rgb(53, 52, 52);
    height: 90px;
    z-index: 999;
}


header .logo img {
    position: relative;
    margin-top: 37px;
    right: 8px;
    width: 170px;
    max-height: 80px;
}

.nav-menu {
    display: flex;
    justify-content: center; /* Pusatkan item secara horizontal */
    align-items: center;
    flex-grow: 1;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
    margin-left: 80px;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

header a {
    position: relative;
    transition: transform 0.3s ease;
}

header a:hover {
    color: rgb(233, 233, 233);
    transform: translateY(2px);
}

header a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

header a:hover::after {
    font-size: 0px;
    width: 100%;
    background: rgb(253, 253, 253);
}

header img {
    width: 45px;
    height: auto;
    margin-right: 10px;
    border-radius: 40px;
}

header .signup-btn {
    color: white
    
}
 

.signup-btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #4d4d4d;
    border-radius: 5px;
    transition: all 0.3s;
}

.signup-btn:hover {
    transform: translateY(-3px);
    background-color: #444343;
    color: #ffffff;
}

/*Bagian Body*/
.pertama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 300px 90px;
    background: url('https://i.pinimg.com/736x/d7/76/71/d77671c2f12a4e2ce9ef44a9c95d4c9a.jpg') no-repeat center center/cover;
    height: 530px;
}

.pertama-text {
    max-width: 50%;
}

.pertama-text h1 {
    font-size: 40px;
    font-weight: 790;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.pertama-text p {
    font-size: 1.1em;
    margin-bottom: 30px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.learn-more-btn {
    padding: 15px 20px;
    background-color: #666869;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    
    to {
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.learn-more-btn:hover {
    transform: translateY(-10px);
    background-color: #444343;
    color: #ffffff;
}

.zivana-image img {
    border-radius: 20px;
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.latest-news {
    padding: 50px;
    background: url();
}

.latest-news h2 {
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.news-grid {
    display: flex;
    justify-content: space-between;
}


.news-item {
    background-color: #3e3e3e;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
}

.news-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.news-item h3 {
    margin: 20px 0 10px;
    font-size: 20px;
}

.news-item p {
    font-size: 16px;
    color: #ccc;
}

.partners {
    padding: 50px;
    background-color: #1d1d1d;
    text-align: center;
}

.partners h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.partner-logos img {
    margin: 0 15px;
    max-height: 100px;
    width: 100px;   
}

/*EXPO SECTION*/
.expo {
    padding: 50px;
    background: linear-gradient(to bottom, rgb(63, 62, 62), rgb(43, 42, 42));
    height: 300px;   
    text-align: center;
}

.expo h2 {
    font-size: 36px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.expo img {
    width: 80%;
    height: auto;
    margin-bottom: 20px;
}

.expo-btn {
    padding: 10px 20px;
    background-color: #3b82f6;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}


/*FOOTER SECTION*/
footer {
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, rgb(36, 35, 35), rgb(0, 0, 0));
    color: #fff;
    padding: 80px 0 30px;
    font-size: 13px;
    line-height: 20px;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col {
    flex-basis: 25%;
    padding : 10px;
}

.col:nth-child(2), .col:nth-child(3) {
    flex-basis: 15%;
}

.logo {
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li {
    list-style: none;
    margin-bottom: 12px;
}

ul li a {
    text-decoration: none;
    color: white;
}

form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far {
    font-size: 10px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: white;
    border: 0;
    outline: none;
}

form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

form button .fas {
    font-size: 16px;
    color: #ccc;
}

.social-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}